body {
    --light-color: #eeeeee;
    --dark-color: #afafaf;

    --good-color: #9ed6c7;
    --good-color-dark: #06d6a0;
    --warn-color: #f4d1a6;
    --warn-color-dark: #f58a07;
    --bad-color: #ffd3d3;
    --bad-color-dark: #ff5163;
}

/*Center the home page content*/
.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/*Underline the links in the posts*/
article a {
    text-decoration: underline;
}

/*Display an icon after external links*/
article a[href^="//"]:after,
article a[href^="http://"]:after,
article a[href^="https://"]:after {
    display: inline-block;
    background-image: url(/mobile1-doc/img/ic_open_in_new.svg);
    margin: 0 2px;
    background-size: 1rem 1rem;
    height: 1rem;
    width: 1rem;
    content: "";
}

/*Display images to the right, expect when they are not part of a paragraph */
article p > img:not(:only-child) {
    float: right;
    max-width: 300px;
    margin: 0 0 1em 1em;
}

/*Blockquotes styles*/
blockquote {
    color: #323232;
}

blockquote.group {
    background: var(--light-color);
    border-left: 8px solid var(--dark-color);
}

blockquote.good {
    background: var(--good-color);
    border-left: 8px solid var(--good-color-dark);
}

blockquote, blockquote.warn {
    background: var(--warn-color);
    border-left: 8px solid var(--warn-color-dark);
}

blockquote.bad {
    background: var(--bad-color);
    border-left: 8px solid var(--bad-color-dark);
}

/*Make sure to clear space after floating elements*/
article code, article blockquote, article .footnotes-sep {
    clear: both;
}

/*Add margin after a video*/
article video, article iframe {
    margin-bottom: 1rem;
}

/*Better Comment colors in code blocks*/
.hljs-comment, .hljs-quote {
    color: var(--warn-color);
}

/*Utilities*/
.center {
    display: flex;
    justify-content: center;
}

.clear {
    clear: both;
}